body
{
  font-family: Montserrat;
  overflow-x: hidden;
}

p
{
  font-size: 14px;
}

.f900
{
  font-weight: 900;
}

.f700
{
  font-weight: 700;
}

.f600
{
  font-weight: 600;
}

.f400
{
  font-weight: 400;
}

.text-light-dark
{
  color: #6C6C6D;
}

.text-white
{
  color:#ffffff;

}

/*Home Page*/

/*Section 1*/
#home1
{
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#home1 .lap
{
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 85%;
  width:auto;
}

#home1 div
{
  padding-left: 50px;
  height: 100%;
}

#home1 h2
{
  padding-top: 15%;
  font-weight: 700;
  padding-bottom: 1%;

}

.btn
{
  font-weight: 700;
}

/*Section 2*/
#home2
{
  height: 100vh;
  background-color: #FFFFFF;
}

#home2 .lap
{
  display: block;
  padding-top: 15%;
  height:95%;
  width:auto;
}

#home2 .col-md-5 h2
{
  padding-top:15%;
}

#home2 button
{
  position:absolute;
  right:15%;
}

#home2 div
{
  height:100%;
}

#home3
{
  height: 100vh;
  background-color: #FFFFFF;
}


/*Navbar*/
.nav-item
{
  font-family: Montserrat !important;
  font-weight: 700;
  padding-right: 10px;
}

.navbar-brand
{
  padding-left: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-nav
{
  padding-right: 30px;
}

/*Footer*/
.footer
{
  background-color: #151554;
  height: auto;
  bottom:0px;
}

.footer .row
{
  padding-top: 2%;
  padding-bottom: 4%;
  padding-left: 2%;
}

.footer .copyright
{
  background-color: #0D0D3D;
}

.footer p
{
  margin-bottom: 0px !important;
  padding-bottom: 0.6%;
  padding-top: 0.6%;
}

/*Login Page*/
.login-left
{
  border-right: 1px solid #707070;
}

.login-left .btn-primary
{
  background-color: #4E64AD;
  border-color: #4E64AD;
  width:60%;
  border-radius: 100px;
}

.login-left .btn-danger
{
  background-color: #DD4B39;
  border-color: #DD4B39;
  width:60%;
  border-radius: 100px;
}

.login-left .btn-success
{
  background-color: #0274B3;
  border-color: #0274B3;
  width:60%;
  border-radius: 100px;
}
